<div class="tab-pane active" id="tabs-1" role="tabpanel">
    <div class="row">
        <div class="col-sm-9">

            <app-files-details></app-files-details>

            <div class="graycolorbg">
                <div class="row">
                    <div class="col-sm-4 uploadbtn">
                        <div class="customupbtn">
                            <a href="#" data-toggle="modal" data-target="#photoupModal">
                                <i class="fa fa-upload"></i>
                                Upload New Folder/File
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 sidebar">
            <div class="selectteam graybgbox">
                <label>Select Team</label>
                <select class="form-control">
                    <option *ngFor="let name of teamOptions">
                        {{name}}
                    </option>
                </select>
            </div>
            <ul class="singlelink graybgbox">
                <li><a href="#">Tax Organizer Form</a></li>
                <li><a href="#">Task Break Down</a></li>
            </ul>
        </div>

    </div>
</div>