<div class="tab-pane" id="tabs-3" role="tabpanel">
    <a class="adbtn btn orange invoicebtn taskbtn" href="javascript:void(0)" data-toggle="modal" data-target="#taskaddmodel"><i class="icofont icofont-tasks-alt"></i>Add New Task</a> 
    <div class="clientblock tasktable table-responsive">
           
          <table>
        <thead>
            <tr>
                <th>Team Member</th>
                <th>Tasks</th>
                <th>Hours</th>
                <th>Action</th>
            </tr>
        </thead> 
        <tbody>
        <tr>
            <td>Abdul Kareem</td>
            <td><p>Sorting Income Tax Files</p></td>
            <td><p>3</p></td>
            <td class="action">
                <a class="btn edit" title="Edit"><i class="fa fa-edit"></i></a>
                <a class="btn delete" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td>Maya Hensen</td>
            <td><p>Sorting Income Tax Files</p></td>
            <td><p>3</p></td>
            <td class="action">
                <a class="btn edit" title="Edit"><i class="fa fa-edit"></i></a>
                <a class="btn delete" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td>Abdul Kareem</td>
            <td><p>Sorting Income Tax Files</p></td>
            <td><p>3</p></td>
            <td class="action">
                <a class="btn edit" title="Edit"><i class="fa fa-edit"></i></a>
                <a class="btn delete" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td>Maya Hensen</td>
            <td><p>Sorting Income Tax Files</p></td>
            <td><p>3</p></td>
            <td class="action">
                <a class="btn edit" title="Edit"><i class="fa fa-edit"></i></a>
                <a class="btn delete" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>   
          </table>
     </div>
</div>