<h5>Shared with Me</h5>
<div class="scrollctn">
    <div class="row">
        <div class="col-sm-4">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="#">Accounting</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                        <div class="overlytxt">
                            <a href="" data-toggle="modal" data-target="#myModal">
                                Open
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="#" class="lnkbt download"><i class="fa fa-download"></i>Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="#">Income Tax Department Doc.</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                        <div class="overlytxt">
                            <a href="" data-toggle="modal" data-target="#myModal">
                                Open
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="#" class="lnkbt download"><i class="fa fa-download"></i>Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="#">GST Form Rulling Document</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                        <div class="overlytxt">
                            <a href="" data-toggle="modal" data-target="#myModal">
                                Open
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="#" class="lnkbt download"><i class="fa fa-download"></i>Download</a>
            </div>
        </div>             
</div>
</div>

<h5>Shared to Client</h5>
<div class="scrollctn">
    <div class="row">
        <div class="col-sm-4 share-menu">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="#">Tax Revision 2019-20</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                        <div class="overlytxt">    
                            <a href=""  data-toggle="modal" data-target="#myModal">
                                Open
                            </a>
                        </div>    
                    </div>
                </div>
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="javascript:void(0)" class="lnkbt sharebtn" data-toggle="modal" data-target="#sharemodel"><i class="fa fa-share"></i>share</a>
            </div>
        </div>
        <div class="col-sm-4 share-menu">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="#">Office Internal 2019-20</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                <div class="overlytxt">    
                    <a href="" data-toggle="modal" data-target="#myModal">
                        Open
                    </a>
                </div>    
                    </div>
                </div>
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="javascript:void(0)" class="lnkbt sharebtn" data-toggle="modal" data-target="#sharemodel"><i class="fa fa-share"></i>share</a>
            </div>
        </div>
        <div class="col-sm-4 share-menu">
            <div class="innerboxsec">
                <div class="flexctn">
                    <div class="icnfle">
                        <i class="fa fa-file-o"></i>
                    </div>
                    <div class="rgtflectn">
                        <h6><a href="" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing</a></h6>
                        <span>Session: 2021</span>
                    </div>
                    <div class="hvrdv">
                        <div class="overlytxt">    
                            <a href="" data-toggle="modal" data-target="#myModal">
                                Open
                            </a>
                        </div>    
                    </div>
                </div>
                
                <a href="#" class="lnkbt remove"><i class="fa fa-trash"></i>Remove</a>
                <a href="javascript:void(0)" class="lnkbt sharebtn" data-toggle="modal" data-target="#sharemodel"><i class="fa fa-share"></i>share</a>
            </div>
        </div>

    </div>
</div>  
        
       

<!-- Modal -->

 <div class="modal fade dwnloadfle" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Download File</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          
        </div>
        <div class="modal-body">
            <div class="flelst">
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>It is a long established fact that a reader.</a>
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a>
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </a>
                <a href="images/test.pdf" target="_blank"><i class="fa fa-file-o"></i>But I must explain to you how all this mistaken idea</a>
            </div>
        </div>
      </div>
    </div>
</div> 